.text-input {
  -fx-background-radius: 20;
  -fx-text-fill: #000000;
  -fx-prompt-text-fill: #d4cee3;
}
.button1 {
  -fx-background-color: #6f4cbb;
  -fx-text-fill: #ffffff;
}
.button1:hover {
  -fx-text-fill: #431fa0;
}
.button1 :pressed {
  -fx-text-fill: #371897;
}
.button1 :active {
  -fx-text-fill: #80aff5;
}
.button2 {
  -fx-background-color: #d5cbeb;
  -fx-background-radius: 5;
  -fx-text-fill: #371897;
  -fx-border-color: #6f4cbb;
  -fx-border-radius: 5;
}
button2:hover {
  -fx-background-color: #e4eefd;
}

button2 :pressed {
  -fx-background-color: #e4eefd;
  -fx-background-radius: 20;
}

button3 {
  -fx-background-color: linear-gradient (to top left, #35acf1, #f6b46f);
  -fx-background-radius: 12;
  -fx-border-style: solid;
  -ex-border-radius: 12;
  -fx-border-insets: -5;
  -fx-border-color: linear-gradient (to top left, #35acf1, #f6b46f);
}

.button3:hover {
  -fx-background-color: linear-gradient(to top left, #f6b46f, #35acf1);
  -fx-background-radius: 12;
  -fx-border-style: solid;
  -fx-border-radius: 12;
  -fx-border-insets: -5;
  -fx-border-color: linear-gradient(to top left, #f6b46f, #35acf1);
}

.button3:pressed {
  -fx-background-color: linear-gradient(to top left, #35acf1, #f6b46f);
  -fx-background-radius: 12;
  -fx-border-style: solid;
  -fx-border-radius: 12;
  -fx-border-insets: -5;
  -fx-border-color: linear-gradient (to top left, #3SACF1, #f6b46f);
}
.button4 {
  -fx-background-color: linear-gradient (to top left, #41951c, #d4cee3);
  -fx-background-radius: 30 30 30 30;
}
.button4:hover {
  -fx-background-color: linear-gradient(to top left, #d4cee3, #41951c);
  -fx-background-radius: 30 30 30 30;
}
.button4:pressed {
  -fx-background-color: linear-gradient(to top left, #41951c, #d4cee3);
  -fx-background-radius: 30 30 30 30;
}
.combo-box {
  -fx-background-color: #141124;
  -fx-border-color: #515658;
  -fx-border-radius: 30;
}
.combo-box:hover {
  -fx-background-color: #141124;
  -fx-border-color: #ffffff;
  -fx-border-radius: 30;
}
.combo-box:pressed {
  -fx-background-color: #141124;
  -fx-border-color: #ffffff;
  -fx-border-radius: 30;
}
-table-view .column-header,
.table-view .column-header-background .filler {
  -fx-cell-size: 20;
  -fx-background-color: #2d75e8;
}

table-view .column-header .label {
  -fx-text-fill: white;
  -fx-font-veight: bold;
  -fx-alignment: CENTER_LEFT;
}
.table-view .cell {
  -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}
.table-row-cell:selected {
  -fx-background-color: rgb(127, 172, 243);
}
.table-row-cell:selected .text {
  -fx-fill: white;
}
.table-view .increment-button,
.table-view .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 2em;
}
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: derive(#2d75e8, 80%);
  -fx-background-radius: 2em;
  -fx-border-radius: 2em;
}
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
  -fx-background-color: derive(#2D7SE8, 90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}
.chart {
  -fx-padding: 10px;
  -fx-background-color: transparent;
  -fx-legend-visible: false;
}
.chart-plot-background {
  -fx-background-color: transparent;
}
.chart-pie {
  -fx-border-color: derive (-fx-pie-color, 1%);
  -fx-border-vidth: Opx;
}
.linear-grad {
  -fx-background-color: linear-gradient(to bottom left, #6f4cbb, #431fa0);
}




























































