.text-input {
    -fx-background-radius: 20;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #d4cee3;
}
/*Boton de VentanSistemas*/
.button
{
    -fx-background-color : #6f4cbb;
}
.button:hover
{
    -fx-background-color : #431fa0;
}
.button:pressed
{
    -fx-background-color : #371897;
}
.button :active {
    -fx-text-fill: #80aff5;
}
/*Boton de NuevaVenta*/
.button1 {
    -fx-background-color: #6f4cbb;
    -fx-text-fill: #ffffff;
}
.button1:hover {
    -fx-text-fill: #431fa0;
}
.button1 :pressed {
    -fx-text-fill: #371897;
}
.button1 :active {
    -fx-text-fill: #80aff5;
}
.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #6f4cbb, #431fa0);
}